@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #4CAF50; 
    color: white;
    border-radius: 6px; 
    font-size: 14px;
    border: 2px solid #ccc;
    font-weight: bold; 
    margin-bottom: 10px; 
  }
  
  .custom-file-upload:hover {
    background-color: #45a049; 
  }
  
  .custom-file-upload input[type="file"] {
    display: none; 
  }
  
  